<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto text-center">
        <p class="copyright text-muted">
          All GIFs hosted by 
          <a href="https://giphy.com" target="_blank" rel="noopener">giphy.com</a> or  
          <a href="https://tumblr.com" target="_blank" rel="noopener">tumblr.com</a> — 
          Icons by <a href="https://icons8.com" target="_blank" rel="noopener">Icons8.com</a>
        </p>
        <p class="copyright text-muted">
          &copy; {{ site.author }} {{ 'now' | date: "%Y" }}
        </p>
          <p class="small text-muted">
          <a href="{{ '/imprint/' | relative_url }}">Imprint</a> |
        <a href="{{ '/privacy/' | relative_url }}">Privacy Policy</a>
        </p>

      </div>
    </div>
  </div>
</footer>
