<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
<!-- <nav class="navbar navbar-light fixed-top" id="mainNav"> -->
  <div class="container">
    <!-- <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a> -->
<div class="d-none d-lg-block">
  <!-- hide on screens smaller than lg -->
  <a class="navbar-brand" href="{{ "/" | relative_url }}" style="display: flex; align-items: center; gap: 20px;">
    <img width="45%" src="{{ "/img/hai/logo_left_offwhite.png" | relative_url }}" alt="Logo Left Offwhite" class="image1" /> 
    <img width="55%" src="{{ "/img/hai/dkfz_logo.png" | relative_url }}" alt="DKFZ Logo" class="image1" />
  </a>
</div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <img width="35%" src="{{"/img/hai/logo_left_black_300.png"| relative_url}}" alt="" class="image2" />
      <!-- Menu -->
      &nbsp;
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <!-- Add Events instead of posts-->
        <li class="nav-item">
           <a class="nav-link" href="{{"/posts" | relative_url }}">Events</a>     
        </li>
        <!-- Add Members -->
        <li class="nav-item">
          <a class="nav-link" href="https://www.meetup.com/Heidelberg-Artificial-Intelligence-Meetup/" target="_blank">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}">About</a>
        </li>
        <!-- No Posts -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{ "/posts" | relative_url }}">Posts</a>
        </li> -->
        <!-- Add Youtube -->
        <li class="nav-item">
          <a class="nav-link" href="https://www.youtube.com/channel/UCfHWBneOsb7SfOxJepnMQKA?disable_polymer=true" target="_blank">Youtube</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}">Contact</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
