---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<!-- This opens images from local folder. -->
<!-- <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')"> -->
<!-- Take pure open from url for giphy -->
<header class="masthead" style="background-image: url('{{ page.background }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <!-- outcomment website -->
            <!-- <h1>{{ site.title }}</h1> --> 
            <!-- {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
            {% if site.event %}
            <h3>{{ site.event }}</h3>
            {% endif %} -->

            <!-- comment br's out for final version -->
            <br><br>
            {% assign future_date = false %}
            {% for post in site.posts reversed %}
            <!-- can be commented out -->

            <!-- Automate Creation of Dates -->
              {% if post.future_date %}
                <!-- Automatatic creation of announcement if future_date -->
                <h3>
                  {% if post.custom_date %}
                        {{ post.custom_date}}
                  {% else %}
                        {{ post.date | date: '%B %d, %Y' }}
                  {% endif %}
                   {{post.time}}
                </h3>
                <br>
                <br>
                <h2 class="post-title">{{ post.title }}</h2>
                <br>
                <h4 class="post-subtitle">{{ post.subtitle }}</h4>
                <br>
                <!-- this is Button to newest event. -->
                <!-- v1 -->
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-outline-light">Go to event</a>
                {% assign future_date = true %}
                {% break %}
              {% endif %}
            {% endfor %}
            {% if future_date == false %}
              <h2>Next event is preprocessing...</h2>
              <br><br>
              <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-outline-light">Latest event</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!-- Possible View of newest event -->
        <!-- {% for post in site.posts limit : 1 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {{ post.date | date: '%B %d, %Y' }}           
          </p>
        </article>
        {% endfor %} -->

        {{ content }}

        <!-- Take Out -->
        <!-- Home Post List -->
        <!-- {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %} -->

        <!-- Pager -->
        <!-- <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div> -->

      </div>
    </div>
  </div>
